# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\maktab\homework\pythonProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
